<div class="footer">
  <div class="content">
    <table class="table">
      <thead>
      <tr>
        <td>Contact us</td>
        <td>Customer Service</td>
        <td>Information</td>
        <td>Social</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><a href="tel:0751683911">+40 751 683 911</a></td>
        <td><a href="">Contact us</a></td>
        <td><a href="">About me</a></td>
        <td><i class="fa fa-facebook"></i></td>
      </tr>
      <tr>
        <td><a href="mailto:contact@mihaimoisoiu.ro">contact@mihaimoisoiu.ro</a></td>
        <td><a href="#">Ordering & payment</a></td>
        <td><a href="#">Privacy Policy</a></td>
        <td><a href="#"><i class="fa fa-google"></i></a></td>
      </tr>
      <tr>
        <td><a routerLink="store">Go to store</a></td>
        <td><a href="#">Transportation</a></td>
        <td><a href="#">Terms & Conditions</a></td>
        <td><a href="#"><i class="fa fa-youtube"></i></a></td>
      </tr>
      <tr></tr>
      </tbody>
    </table>

  </div>
  <div class="copyright">
    <div class="left">
      <p>© 2018 Mihai Marius Moisoiu, SRL. All rights reserved.</p>
    </div>
    <div class="right">
      <p>Designed & Implemented by Blvck.ro</p>
    </div>
  </div>
</div>
