// Header
.header
  background: royalblue
  height: 600px
  color: white
  position: relative
  //image: url("images/header.jpeg")
    //size: cover
    //repeat: no-repeat
.text
  max-width: 700px
  margin: auto
  transform: translateY(100%)
  text-align: center
.title h1
  color: white

.content, .buttons
  margin-top: 30px

// Schedule
.schedule
  background-color: orange
  display: flex
  justify-content: center
  .content
    display: flex
    justify-content: space-between
    padding: 50px 0px
    h1
      color: white
      margin-right: 30px
    a
      position: relative
      top: -5px
      margin-left: 30px

// Sides
.sides
  display: flex
.side
  height: 500px
  text-align: center
  h3, p
    color: white
  .content
    position: relative
    top: 50%
    transform: translateY(-50%)

.left-side
  background: coral

.right-side
  background: cadetblue

// About
.about
  max-width: 1200px
  margin: 50px auto
  display: flex

.left-image
  width: 500px
  margin-right: 50px
  height: 350px
  background: gold

.right-content
  margin-top: 80px
